# basic grouping and aggregation

# task 1

In [49]:
import pandas as pd
data={'department':['hr','finance','IT','Hr','finance','IT'],'salary':[20000,30000,15000,6000,5000,7000]}
df=pd.DataFrame(data)
avg_salary=(df.groupby('department')['salary']).mean()
print(avg_salary)

department
Hr          6000.0
IT         11000.0
finance    17500.0
hr         20000.0
Name: salary, dtype: float64

# task 2

In [10]:
import pandas as pd
data={'city':['lahore','karachi','Islamabad','lahore','karachi','Islamabad'],'population':[20000,30000,15000,6000,5000,7000]}
df=pd.DataFrame(data)
city_population=(df.groupby('city')['population']).sum()
filtered_cities=city_population[city_population >6000]
filtered_cities

city
Islamabad    22000
karachi      35000
lahore       26000
Name: population, dtype: int64

# task 3

In [17]:
import pandas as pd
data={'product':['A','B','C','A','B','C'],'sales':[20000,30000,15000,6000,5000,7000]}
df=pd.DataFrame(data)
product_sales=(df.groupby('product')['sales']).agg (['sum','mean'])
product_sales.columns=['total sales','average sales']
product_sales

         total sales  average sales
product
A              26000        13000.0
B              35000        17500.0
C              22000        11000.0

# task 4

In [20]:
import pandas as pd
data={'team':['A','B','C','A','B','C'],'score':[29,30,90,60,50,70]}
df=pd.DataFrame(data)
df['normalized_score']=df.groupby('team')['score'].transform(lambda x: (x-x.mean())/x.std())
df

  team  score  normalized_score
0    A     29         -0.707107
1    B     30         -0.707107
2    C     90          0.707107
3    A     60          0.707107
4    B     50          0.707107
5    C     70         -0.707107

# task 5

In [45]:
import pandas as pd
data={'category':['electronics','clothing','furniture','electronics','furniture','clothing'],
      'amount':[20000,30000,15000,6000,5000,7000]
     ,'count':[1,2,1,2,1,2]}
df=pd.DataFrame(data)
aggregated_data=df.groupby('category').agg ({
    'amount':['sum','mean'],
    'count':['sum','max']
})
aggregated_data.columns=['total amount','average amount','total count','max count']
aggregated_data

             total amount  average amount  total count  max count
category
clothing            37000         18500.0            4          2
electronics         26000         13000.0            3          2
furniture           20000         10000.0            2          1